@import '../../styles/variables';

.imageButton {
  background: $mainColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  padding: 0
}
