//@import "../../../styles/variables";

.btn {
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  display: block;
  margin: 20px auto;
}
